* {
    box-sizing: border-box; /* Keeps box size consistent regardless of margin/padding/etc */
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none; /* Removes link underlines */
}

a {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    color: inherit; /* Overrides blue color of links */
}

body { /* removes default margin and padding on body */
    margin: 0px;
    padding: 0px;
}

.videoBackground {
    position: fixed;
    top: 20px;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    background:linear-gradient(0.15turn, #1c222b, #000000);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 25px;
}

.content {
    display: flex;
    height: 110vh;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.gameBox {
    align-items: center;
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
}

.roundHeader,
.roundDisplay {
    color: white;
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
}

.scoreboard {
    display: flex;
    color: white;
    justify-content:space-around; 
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}

.selectionBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.rockBox,
.paperBox,
.scissorsBox {
    padding: 15px;
    font-size: 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 150px;
    border-radius: 15px;
}

/* footer */
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #171c24;
    font-style: italic;
    color: #f9faf8;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}